*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --common-purple: #5865e0;
  --light-gray: #f5f6f8;
  --white-lt: #ffffff;
  --dark-blue: #131822;
  --light-blue: #19212d;
}

html {
  margin: 0px;
}

.App, body {
  background: var(--light-gray);
}


.SearchBar.darkTheme,
.App.darkTheme,
.JobContainer.darkTheme, body.darkTheme {
  background: var(--dark-blue);
}

.JobDescription,
.JobCard,
.SearchBar {
  margin: 20px auto;
  background-color: var(--white-lt);
  color: var(--dark-blue);
}

.JobCard.darkTheme,
.SearchBar.darkTheme,
.JobDescription.darkTheme {
  color: var(--white-lt);
  background-color: var(--light-blue);
}

.SearchBar.darkTheme input {
  border-left: 1px solid var(--white-lt);
  color: var(--white-lt);
}

.SearchBar input {
  background: none;
  display: inline-block;
  outline: #353638;
  border: none;
}

.NoJobsFound {
  position: relative;
  top: 40%;
  color:rgb(110, 108, 108);
}

textarea:focus,
input:focus {
  outline: black;
}

.SearchBar {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}

.descTop {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.descBtnGroup {
  display: flex;
}

.filtersContainer {
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  flex-direction: row;
  flex-basis: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: 1rem;
  margin: 20px;
  padding: 10px;
  width: 100%;
  height: 80px;
}

.SearchInput {
  width: 30%;
}

.GeolocationFilter {
  width: 30%;
}
.GeolocationFilter > input,
.SearchInput > input {
  display: inline-block;
  width: 100%;
}

.Header {
  padding-left: 20px;
  left: 0;
  top: 0;
  height: 60px;
  background-color: var(--common-purple);
  color: white;
  width: 100%;
}

.title {
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px;
}

.title {
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Calibri";
}

.lds-ring {
  font-size: 1rem;
}

.jobAge,
.company {
  font-size: 0.75rem;
  color: #939496;
  margin-bottom: 5px;
  margin-top: 5px;
}

.LoadMore {
  width: 100%;
  padding-bottom: 20px;
}

.LoadMore button {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.JobDescription {
  max-width: 800px;
  margin: auto;
  font-size: 0.8rem;
  padding: 20px;
  color: black;
  z-index: 10;
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
}

.actionBtn {
  background-color: var(--common-purple);
  color: #ffffff;
  border-radius: 5px;
  min-width: 40px;
  width: 100px;
  max-width: 150px;
  padding: 10px;
  font-size: 0.75rem;
  font-weight: bold;
}

.descriptionTxt {
  margin-top: 10px;
}
.JobContainer {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
}

.jobTitle {
  font-weight: bold;
}

.location {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--common-purple);
  position: absolute;
  bottom: 20px;
}

.JobCard {
  position: relative;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  height: 240px;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .JobContainer {
    justify-content: center;
    align-items: flex-start;
  }
  .JobCard {
    width: 30vw;
    height: 240px;
    margin: 20px auto;
  }

  .SearchBar,
  .descTop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.FulltimeFilter {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 140px;
}

.ft-lbl {
  font-size: 0.75rem;
  margin-bottom: 0px;
}

@media (prefers-color-scheme: dark) {
  .lds-ring {
    color: rgb(226, 222, 222);
    background-color: rgb(39, 39, 39);
  }
  .lds-ring div {
    border: 24px solid #fff;
    border-color: #fff transparent transparent transparent;
  }
}

@media (prefers-color-scheme: light) {
  .lds-ring {
    color: rgb(39, 39, 39);
    background-color: rgb(226, 222, 222);
  }
  .lds-ring div {
    border: 24px solid rgb(39, 39, 39);
    border-color: rgb(39, 39, 39) transparent transparent transparent;
  }
}
