:root {
    --common-purple: #5865E0;
    --light-gray: #F5F6F8;
    --white-lt: #FFFFFF;
    --dark-blue: #131822;
    --light-blue: #19212D;
}

.JobCard.lightTheme, .Description.lightTheme {
    background-color: var(--white-lt);
    color: var(--dark-blue);
}

.JobCard.darkTheme, .Description.darkTheme {
    color: var(--white-lt);
    background-color: var(--light-blue);
}