.CompanyLogo {
  background: "white";
  height: "40px";
  width: "40px";
  border-radius: "10px";
  position: "relative";
  left: "20px";
  top: "-20px";
  background-position: "center"; /* Center the image */
  background-size : "contain"; /*  fit entire img into container; preserving aspect ratio */
  background-color: "white";
  background-repeat: "no-repeat";
}